@use '/src/colors/baseColors.module.scss' as colors;

.badgeButton {
  padding: 2px 8px;
  cursor: pointer;
  border-radius: 40.91px;
  background: transparent;
  border: 1px solid;
  font-size: 14px;
  white-space: nowrap;

  &.active {
    color: colors.$white;
  }
}
